Node:
  Name={{ Name1 }}
  HA_Replication={{ IP1 }}
  DR_Replication={{ DR1 }}
Node:
  Name={{ Name2 }}
  HA_Replication={{ IP2 }}
  DR_Replication={{ DR2 }}
Node:
  Name={{ Name3 }}
  HA_Replication={{ IP3 }}
  DR_Replication={{ DR3 }}
DRGroup:
  Name=DRG1
    DR_Replication=10.0.2.14
    DR_Replication=10.0.2.15
    DR_Replication=10.0.2.16
